@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

header {
    background-color: black;
    height: 180px;
}

header > h1 {
    color: white;
    text-align: center;
    padding-top: 60px;
}

header > p {
    color: white;
    text-align: center;
    padding-top: 7px;
}

section.normal {
    padding: 90px 0px 0px 30px;
    text-align: justify;
    line-height: 2em;
    font-size: 1.7em;
}

section.imagem {
    padding: 90px 0px 0px 30px;
    text-align: justify;
    line-height: 2em;
    font-size: 1.7em;
}